.profile {
    border: solid 5px #000;
    width: 150px;
    text-align: center;
    padding: 10px;
}
.profile img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
.profile p {
    font-weight: bold;
    font-size: 20px;
}